h1{
    text-align: center;
}

table{
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(255, 167, 167);
}

input[type="submit"]{
    background-color: rgb(255, 255, 255);
}

body{
    background-color: rgb(255, 185, 185);
}

.namalengkap{ color: mediumseagreen;}
.tanggallahir{ color: crimson;}
.nohp{ color: dimgray;}
.jeniskelamin{ color: darkslategray;}
.alamat{ color: coral;}
.e-mail{ color: cyan;}
.kota{ color: deeppink;}


